@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Patient Cost Estimate is a personal project I made just to learn ASP.NET using Razor Pages. 
        Here we can add patients and their insurance information, using which we can provide them a 
        cost estimate of how much they will have to spend to get a service done for themselves. </p>
</div>
